# Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name,experience_required. You have to scrape first 10 jobs data.

In [1]:
#importing the libraries
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
#importing the driver
driver =webdriver.Chrome(r"C:\Users\pavan\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
#importing the url
url = 'https://www.naukri.com/'
driver.get(url)

In [4]:
#importing the keyword
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [5]:
search_job.send_keys('Data Analyst')

In [6]:
#importing the location
search_loc = driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')

In [7]:
#clicking the serch button 
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [9]:
#scaping the job tag
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags

[<selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="b3399ee5-01a7-4ee0-b7d3-41303d47012e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="4702d3b9-aa8b-4218-999d-50fb2015b2bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="291d2afd-5797-4ff3-8408-c4fa3859f3d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="5143ead6-3c49-4e19-b6d3-8927fc16f0b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="5bc88e32-4d9b-4e93-b97b-cd9b35064aee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="aa2be33e-29d3-4d05-9470-6fdbd9b29715")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="36080c57-ca7c-4bb3-9df7-8a8c66b2ae0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="f37ef510-9559-48e1-b7ed-2e7fd3876bd3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="a66c9bcc-6d99-4499-88fb-edd129c46819")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="c9f50e5a-3623-40ee-b375-6de07d74f259")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="7d388f39-f1d5-4ceb-9a3e-62dbb534adea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="283ce1a0-1b72-4e6f-8039-f5df9023e914")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="080b4c5a-b1c6-4cdf-857a-da6d60693fa2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="d68f77c3-83b1-4b07-b1ca-e0c1dd99b030")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="ff7cf6fc-840b-4b0c-953e-6ab2e154e658")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="8c8b3fa3-24d7-428a-bb2d-3db162133680")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="f29a1424-71e1-4a52-96ad-94c491a0dd15")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="9128a5f5-52ec-4bb6-9c44-0cb1b8165ffd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="61cd04df-710b-4748-97ba-8f0b0246000e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="a143d83b-8073-417f-bc12-baf5dabb66f4")>]

In [10]:
#appling forloop
job_titles=[]
for i in titles_tags:
    job_titles.append(i.text)
job_titles

['Data Analyst - Quant & Data Mining',
 'Data Analyst',
 'Data Analyst',
 'Marketing Technology Data Analyst',
 'Product Data Analyst ( Leading MNC )',
 'Process Data Analyst',
 'Hiring Data Analyst For Leading E commerce GIANT',
 'Data Analyst',
 'Data Analyst II - Customer Support',
 'Data Analyst (Contractual)',
 'Data Analyst (Contractual)',
 'Data Analyst (Remote)',
 'Technical Data Analyst - Progton Technologies',
 'Data Analyst - Category Demand Management (Revenue & Growth)',
 'Data Analyst',
 'Product Data Analyst - IT',
 'Data Analyst',
 'ACO Data Analyst Call Rina',
 'Data Analyst',
 'Data Analyst']

In [11]:
#scraping the company tag
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags

[<selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="d0108d6d-e2ee-4711-8ebf-cf5f04703a03")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="78d8f606-b43c-46e2-9602-fec8c31ccdf3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="5275a653-be07-4089-8ca5-f16753e75965")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="1aa48c22-7272-4bd7-b27c-726c63347f2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="b08e3f26-8f4c-41f0-96f0-5a16097d17c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="5bf98910-d980-4947-9644-abaa3876444c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="6565ad6a-75ef-48db-b753-921cf7ecc9ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="3272009a-5271-4d20-a914-75568eec7b1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="fef482ac-128e-4c0d-b3b9-36b090fe2aea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="aaedb724-a2df-40e8-a589-67f12bc7db5a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="ca890c0b-b89e-4439-a5a1-deed457a33d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="9c0906c3-efe3-40eb-a2a7-bb0800e5ea63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="28445a30-f2d3-48ec-b040-cf31422bc02b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="02174ecd-8a21-4db6-b191-b1adecbee106")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="949e432a-69b3-4f52-b90e-ba2a87b77e99")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="3d578f4c-b64b-400d-8562-e1fef8c71294")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="1b1c396b-da1c-44e3-af06-52dafb500636")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="42ec633b-bd17-46f0-82f7-c31dd1b8a31a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="abef5840-d358-4589-b32e-233db0089466")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="8638ac23-8d08-4fdc-9d74-d93311809750")>]

In [12]:
#appling the forloop
company_names=[]
for i in companies_tags:
    company_names.append(i.text)
company_names

['Catalyst',
 'PharmEasy',
 'Bion',
 'WeGo',
 'BRAINHUNT CONSULTANTS PRIVATE LIMITED',
 'Hitachi ABB Power Grids',
 'Rivera Manpower Services',
 'Near Pte. Ltd.',
 'VIMEO TECHNOLOGIES PRIVATE LIMITED',
 'Flipkart Internet Private Limited',
 'Flipkart Internet Private Limited',
 'ICF Consulting',
 'Progton Technologies LLP',
 'Myntra Designs Pvt. Ltd.',
 'Roppen Transportation Services Private Limited',
 'GAMA India',
 'Novel Office',
 'White Horse Manpower Consultancy Private Limited',
 'Bion',
 'Radial HR Solutions']

In [14]:
#scraping the experince tag 
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
experience_tags

[<selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="ba1015b3-0e3e-47e9-a26c-dcde7b50910c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="972aedcb-f606-467c-ae40-054ebd4bad7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="4b22dc41-e9e8-4291-866b-c690c9f3a813")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="f54fa858-f372-4c50-aefc-e0a3b6f350b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="55766ca5-1adc-4d01-a60d-28f6e8b836e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="0f9e01e3-9100-4d3d-b021-73ab705943cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="1f714bb1-b591-4d59-82ec-0533e2c2b97f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="4744fc2d-8bc3-4808-a815-8a40bb8a8c05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="125b89f4-0358-4b7d-95cd-d9ba7b4e2457")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="f0c5b18f-12d8-4eb9-9aec-5445e90cd0e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="bd0b8605-49c6-42bf-a5c2-ee56e66ec521")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="862aca2f-503d-4ba7-8347-6eaea0948cea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="f07317c3-b271-4ac8-9fd4-9450a85876e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="5f509169-1311-435b-80e1-3ac764e9b1e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="17318705-84e7-4f97-ac6f-a9c33e8729a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="902ef3c4-1da6-492e-9057-8e00c3a30604")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="b4f58d76-69c5-4d9c-95c2-b2b9dbac5974")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="c9c5b305-568c-42ad-8ff5-a61868fb0a32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="37726433-046f-4654-b6a5-16baaef1a041")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="6238029e-0aab-407a-bcef-ff71e2b4345f")>]

In [15]:
#appling the forloop
experience_list=[]
for i in experience_tags:
    experience_list.append(i.text)
experience_list

['2-6 Yrs',
 '1-3 Yrs',
 '1-3 Yrs',
 '2-4 Yrs',
 '2-5 Yrs',
 '2-6 Yrs',
 '1-5 Yrs',
 '2-5 Yrs',
 '1-5 Yrs',
 '1-4 Yrs',
 '1-4 Yrs',
 '1-2 Yrs',
 '0-2 Yrs',
 '1-4 Yrs',
 '1-3 Yrs',
 '2-4 Yrs',
 '0-3 Yrs',
 '2-4 Yrs',
 '2-7 Yrs',
 '2-5 Yrs']

In [16]:
#scraping the location ta
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
location_tags

[<selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="7436364a-489a-46b1-8cd8-4fe3f9fddc8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="e69d3e49-8523-4a52-90cc-332a6afc1704")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="905c9df3-4d6a-4259-a63b-fd05e0ed0ae7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="bc00196e-497d-4e00-bf62-a93a1a530b8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="10adf390-03dd-4e0a-b492-2f46f6c8a60c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="8aad214f-9b99-4f90-9664-755a839ec345")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="1708755a-a11d-4d77-b72f-a51275a2d20f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="abc778e0-71ed-4353-9a94-d305e3b84745")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="3ef408b5-c86b-4b7d-be65-b4c3d6de1a0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="7a0659f4-a605-4be2-b1f1-c83d9f2608f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="abc70786-a86e-4133-9e60-769205c24293")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="a6f7a8d5-9418-4602-9f00-8801e28ff7a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="d45edf41-6ed2-4d66-a8cf-64d664958119")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="d80916e4-d7ff-4917-b86b-827ae5bc17ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="5c1af5cd-98a5-48cc-bd4f-dce5ddc0f96a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="c827312c-fd8b-4007-86fa-47543a313290")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="c45f8009-928b-4717-9267-74b7458cc836")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="bf07237e-15e1-49f7-b802-c3c41803cbb4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="41f1c1e1-ea86-4308-9d06-c76d2eaa3cdc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1aff947d298ebbb5d40cb2934f907dbf", element="f265f30f-4b2b-4ada-9c6e-e4bb30ed5447")>]

In [19]:
#applying the forloop 
location_list=[]
for i in location_tags:
    location_list.append(i.text)
location_list

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Bellandur)',
 'Bangalore/Bengaluru(Bellandur)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [20]:
#appling the dataframe
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['experience_required']=experience_list
jobs['location']=location_list

In [22]:
#the data set
jobs.head(10)

,title,company,experience_required,location
0,Data Analyst - Quant & Data Mining,Catalyst,2-6 Yrs,Bangalore/Bengaluru
1,Data Analyst,PharmEasy,1-3 Yrs,Bangalore/Bengaluru
2,Data Analyst,Bion,1-3 Yrs,Bangalore/Bengaluru
3,Marketing Technology Data Analyst,WeGo,2-4 Yrs,Bangalore/Bengaluru
4,Product Data Analyst ( Leading MNC ),BRAINHUNT CONSULTANTS PRIVATE LIMITED,2-5 Yrs,Bangalore/Bengaluru
5,Process Data Analyst,Hitachi ABB Power Grids,2-6 Yrs,Bangalore/Bengaluru
6,Hiring Data Analyst For Leading E commerce GIANT,Rivera Manpower Services,1-5 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
7,Data Analyst,Near Pte. Ltd.,2-5 Yrs,Bangalore/Bengaluru
8,Data Analyst II - Customer Support,VIMEO TECHNOLOGIES PRIVATE LIMITED,1-5 Yrs,Bangalore/Bengaluru
9,Data Analyst (Contractual),Flipkart Internet Private Limited,1-4 Yrs,Bangalore/Bengaluru(Bellandur)

# Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location,company_name, full job-description. You have to scrape first 10 jobs data.

In [1]:
#importing the libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [2]:
#importing the driver
driver =webdriver.Chrome(r"C:\Users\pavan\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
#importing the url
url = 'https://www.naukri.com/'
driver.get(url)

In [4]:
#importing the keyword
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [5]:
search_job.send_keys('Data Scientist')

In [6]:
#importing the location
search_loc = driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')

In [7]:
#clicking the search button
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [8]:
#importing the company tag
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags

[<selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="87d1dd5c-184a-4516-b168-1c96f88744b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="10f32381-076d-464a-b1b4-ea119ede4e20")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="6507237b-b78a-41e5-8330-4c7022f431ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="47e34ca8-0021-4adb-8a03-dad77bd81c2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="368eef36-4ec9-4fb0-a75d-acf851d8ae92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="79c5223f-0cff-47ad-a106-25179fc4dd8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="bbc0629e-816c-43c0-b232-b440d3bb18e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="3b4f0059-d5b2-400f-8347-e5bbb73c6e86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="1383b504-6910-4bd8-97b3-004ccbfa3174")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="9750a34e-5a8c-4912-b5e7-6c523de50dcc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="7119ca42-bc10-4390-930f-b86503813d73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="f99d6779-43fc-4fcc-9805-0f4a09a5c6e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="a6846359-0392-499a-b245-ebe8bfc31a4a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="0416db65-aa35-488c-a9d1-7f3c847ed214")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="78f2333c-eb73-49ce-be23-541dc438f79c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="d29ffb63-911e-4fe6-bfae-ae86a6fa5b13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="cc627d8b-a9b8-43c2-876a-c381cba5d35f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="d3625e72-02b7-4d68-aa4a-da21e90302f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="718fa759-550c-46c0-88ac-33fbf4a39372")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="cece6fcc-a39e-4d08-a95d-4ff254ab9211")>]

In [9]:
#applying the forloop
company_names=[]
for i in companies_tags[:10]:
    company_names.append(i.text)
company_names

['Inflexion Analytix Private Limited',
 'IBM India Pvt. Limited',
 'Superior Group',
 'FabHotel Aay Kay Model Town',
 'Baker Hughes Incorporated',
 'Baker Hughes - The Network',
 'ORMAE (Operations Research Machine learning & Analytics Experts LLP)',
 'ALTEN CALSOFT LABS (INDIA) PRIVATE LIMITED',
 'Multi Recruit',
 'FabHotel Aay Kay Model Town']

In [10]:
# importing the location tag
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
location_tags

[<selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="042e694b-57ba-4083-9693-508a6234395d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="d3d772ac-bc4f-4ecd-9da4-4cf1afb2cd29")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="88a434fb-a292-4fa5-9ad1-9a45b135cf0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="bdd62af6-bbc1-4c8f-9ae9-6899bb25c0f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="ddfff009-bc29-441f-a97f-24075f83af74")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="bf97349d-9ec8-4f4b-b495-4ccc4e0b7606")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="aa283fda-5412-49b8-ae96-53af1d37e7aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="42bb06ff-7686-4f18-8625-02e1d6cf98fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="01b01067-fb2a-4ef4-9dbf-b63ead33f4aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="30afb044-9913-47a8-82fa-0ccd2ceb87bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="2743db28-80fa-4da9-9413-7a26cb2c8414")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="3f259eaf-4c4b-48b2-b9c6-ee41f6c5285e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="88d86f13-4b95-435f-a858-51213ca91960")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="f5bb2b76-e5fc-470c-a619-8688cb1245ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="40fef818-170b-4234-aa51-dcca8f0f5f59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="3c52472c-1a33-416f-a5ad-6de76493c773")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="2088f59e-8774-4cf3-acd9-312cec797207")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="8d1915e9-8d1d-4e7b-88a7-b1a6fab6dc28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="859c0958-3e01-4b5f-ad36-71e6bbb7f5f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b908adf186504962e5321ec4bcaa5db8", element="0dd18bc1-a183-44ae-9c66-8ef86cc57bd7")>]

In [11]:
#applying the forloop
location_list=[]
for i in location_tags[:10]:
    location_list.append(i.text)
location_list

['Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Dairy Circle)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [12]:
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    urls.append(i.get_attribute("href"))

In [13]:
len(urls)

20

In [14]:
urls

['https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-hyderabad-secunderabad-chennai-bangalore-bengaluru-0-to-3-years-020721003625?src=jobsearchDesk&sid=16257180444125856&xp=1&px=1',
 'https://www.naukri.com/job-listings-data-scientist-advanced-analytics-ibm-india-pvt-limited-bangalore-bengaluru-5-to-10-years-070721908032?src=jobsearchDesk&sid=16257180444125856&xp=2&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-superior-group-bangalore-bengaluru-4-to-9-years-070721500778?src=jobsearchDesk&sid=16257180444125856&xp=3&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-fabhotel-aay-kay-model-town-bangalore-bengaluru-2-to-5-years-070721500535?src=jobsearchDesk&sid=16257180444125856&xp=4&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-baker-hughes-incorporated-bangalore-bengaluru-3-to-7-years-060721500843?src=jobsearchDesk&sid=16257180444125856&xp=5&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-baker-hughes-the-network-bangalore-bengaluru-4-to-8-years-060721500839?src=jobsearchDesk&sid=16257180444125856&xp=6&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-ormae-operations-research-machine-learning-analytics-experts-llp-bangalore-bengaluru-5-to-10-years-070721500357?src=jobsearchDesk&sid=16257180444125856&xp=7&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-alten-calsoft-labs-india-private-limited-bangalore-bengaluru-10-to-13-years-040621007518?src=jobsearchDesk&sid=16257180444125856&xp=8&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-multi-recruit-bangalore-bengaluru-5-to-7-years-060721004826?src=jobsearchDesk&sid=16257180444125856&xp=9&px=1',
 'https://www.naukri.com/job-listings-data-scientist-fabhotel-aay-kay-model-town-bangalore-bengaluru-1-to-4-years-060721500918?src=jobsearchDesk&sid=16257180444125856&xp=10&px=1',
 'https://www.naukri.com/job-listings-data-scientist-kredx-bangalore-bengaluru-3-to-5-years-060721902376?src=jobsearchDesk&sid=16257180444125856&xp=11&px=1',
 'https://www.naukri.com/job-listings-data-scientist-scaleorg-chennai-bangalore-bengaluru-3-to-8-years-060721500049?src=jobsearchDesk&sid=16257180444125856&xp=12&px=1',
 'https://www.naukri.com/job-listings-data-scientist-superior-group-bangalore-bengaluru-3-to-8-years-070721500780?src=jobsearchDesk&sid=16257180444125856&xp=13&px=1',
 'https://www.naukri.com/job-listings-principal-data-scientist-superior-group-bangalore-bengaluru-3-to-10-years-070721500779?src=jobsearchDesk&sid=16257180444125856&xp=14&px=1',
 'https://www.naukri.com/job-listings-data-science-data-scientist-stalwart-management-consulting-bangalore-bengaluru-5-to-10-years-070721500743?src=jobsearchDesk&sid=16257180444125856&xp=15&px=1',
 'https://www.naukri.com/job-listings-data-scientist-oracle-india-pvt-ltd-noida-bangalore-bengaluru-5-to-9-years-010621004567?src=jobsearchDesk&sid=16257180444125856&xp=16&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-ii-female-candidates-only-wow-jobs-wow-softech-pvt-ltd-bangalore-bengaluru-8-to-13-years-010721007729?src=jobsearchDesk&sid=16257180444125856&xp=17&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-roppen-transportation-services-private-limited-bangalore-bengaluru-5-to-8-years-010721000825?src=jobsearchDesk&sid=16257180444125856&xp=18&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-24-7-customer-private-ltd-bangalore-bengaluru-5-to-10-years-280621501037?src=jobsearchDesk&sid=16257180444125856&xp=19&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-fabhotel-aay-kay-model-town-bangalore-bengaluru-6-to-7-years-020721501495?src=jobsearchDesk&sid=16257180444125856&xp=20&px=1']

In [15]:
job_title=[]
job_description=[]

In [16]:
#applying the forloop
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
    try:
        job= driver.find_element_by_xpath("//h1[@class='jd-header-title']")
        job_title.append(job.text)
    except NoSuchElementException:
        job_title.append('-')
        
    try:
        job_desc= driver.find_element_by_xpath("//section[@class='job-desc']")
        job_description.append(job_desc.text)
    except:
        job_description.append('-')

In [17]:
print(len(job_title))
print(len(job_description))

10
10

In [18]:
job_description

["Job description\nJob description\n\nJob Role: Data Scientist/Data Analyst /Business Analyst\n\nLocation: Chennai/Bangalore/Hyderabad\n\nGreetings from CAIA - Center for Artificial Intelligence & Advanced Analytics\n43% of companies experienced a high deficit of skilled resources with Advanced Analytical skills and AI implementing capabilities in the year 2020. CAIA gives you a great opportunity to enter the world of future technologies and Innovations- Data Science, Analytics, AI, Data Visualization, and Cloud Computing.\n\nWhile 2020 was a year like no other, we are living in an interesting times where data is reshaping the world, and businesses are rapidly adopting technology to gain an edge over others. Hence, there's a substantial increase in demand for technology professionals who can implement systems in data science, machine learning, and AI in Tier 1 and Tier 2 organizations working closely with us.\n\nTo help you build a sustainable career we would like you to utilize data, software and Analytical approaches in Data Science and AI to upskill and get recruited into an organization appreciating your skilling journey.\nApplications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.\nIf you wish to make a shift in your career or undergo a career transition, upskilling is essential since it allows you to learn more about the domain and acquire the required skills.\n\nCall to schedule interview Monday -Saturday from 10:00 am to 7 Pm\n\nKoodesh B- +91 73395 11107\nManigandan B - +91 93444 57360\n\nEmail :\n\ncareerguidance.koodes@centerforaia.com\nmanigandan@centerforaia.com\n\nWhat is needed from you?\nFreshers who wish to start their career in Analytics and AI and professionals who wish to\nupskill or change their domain to analytics and emerging technologies are free to apply.\nEducational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Math's and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA\nSkills relating to Mathematics/Statistics.\nNatural passion towards numbers, business, coding, Analytics, and Artificial Intelligence, Machine Learning, visualization\nGood verbal and written communication skills\nAbility to understand domains in businesses across various sectors\n\nSelection procedure includes\nAptitude Test & Communication Exam - Online / Offline\nSQL/Python test - Online / Offline\nCandidates who clear the above will have one-one discussions with our Career Guidance Manager for further evaluation and processing of your Resume.\n\nAll the Shortlisted candidates will be eligible to continue the corporate training with CAIA\nWhat you can expect from us?\n\nYou will get trained on the following modules for a period of 12-14 weeks:\nSQL & PLSQL\nData Wrangling using Python\nData Visualization Using Power-BI\nStatistics for Machine Learning\nArtificial Intelligence, Data Interpretation\nSupervised & Unsupervised Learning,\nNLP & Deep Learning\nCloud Data Lake\nBusiness intelligence & Data Visualization\nSimulation Projects\nExpected Outcome?\n\nAt the end of the Training you are expected to be well versed with the following:\nAnalysis of large and complex data sets from multiple sources\nDevelopment and evaluation of data analytics models, algorithms, and solutions\nUnderstanding/implementation of ML algorithms, performance tuning, and reporting\nImplementation of algorithms to mine targeted data and the ability to convert data into a business story\nTranslation of business requirements into technical requirements; Data extraction, preparation, and transformation\nIdentification, development, and implementation of statistical techniques and algorithms that address business challenges and adds value to the organization\nRequirement Analysis and communication of findings in the form of a meaningful story with the stakeholders\nFinding analytical solutions to abstract business issues.\nApply objective analysis of facts before coming to a conclusion\n\nRoleData Analyst\nIndustry TypeIT Services & Consulting\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :B.Com/B.Com(Hons) in Any Specialization, B.Tech/BE in Any Specialization, BBA/BMS/BBM/BBS in Any Specialization, BCA in Any Specialization, Any Graduate, B.Sc/B.Sc(Hons) in Any Specialization\nKey Skills\nBusiness IntelligencePower BiData WranglingArtificial IntelligenceBig DataITMachine LearningStatisticsAnalyticsDeep LearningBusiness AnalysisSQLData ScienceNLPCloud ComputingData AnalysisData VisualizationData WarehousingData AnalyticsETLPython",
 '-',
 'Job description\nKey Responsibilities:\nProvide advanced analytical capabilities to support and drive data science initiatives\nMines and extracts data and apply statistics and algorithms necessary to derive insights for Org s Digital\nSupports the generation of an automated insights generation framework for Org s business partners to effectively interpret data\nProvides actionable insights through data science for Recommendations, SEO and Collections selling\nWork closely with the product and engineering teams to execute key initiatives\nTracks success of Org s through the development of dashboard reports that measure financial results, customer satisfaction, and engagement metrics\nConducts deep statistical analysis, including predictive and prescriptive modeling in order to provide a competitive advantage at Org s\nMaintains expert-level knowledge on industry trends, emerging technologies, and new methodologies and applies it to projects as well as using it to guide team members\nLeads automation and analytical projects, collaborating across functions in Org s and Org s Digital\nJob Requirements\nRequired Skills:\nIndustry experience as a Data Scientist and experience in machine learning, data mining, search relevancy ranking, recommender systems or informational retrieval.\nHands-on experience with accessing data, Python, machine learning libraries, and deep learning libraries (ex: tensorflow/pytorch/Keras, scikit-learn/scipi, numpy, pandas, Golve, word2vec, fasttext, bert etc.).\nAbility to improve product discovery by collaborating with other domain teams such as Personalization and Search\nFluency in at-least one programming languages such as Python, Scala or Java.\nPresent results and make recommendations in a clear manner to senior leadership\nAbility to learn new analytical methods and technologies and apply in practical business problems\nStrong communication skills, ability to interact with diverse team of people across business and engineering.\nEffective analytical, troubleshooting and problem-solving skills for building systems to process both structured and unstructured data\n  RoleSystem Analyst\nIndustry TypeRecruitment / Staffing\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\nAutomationdata scienceAnalyticalMachine learningSCALAProgrammingSEOTroubleshootingData miningPython',
 'Job description\nAs as Senior Data Scientist, you will work in teams addressing statistical, machine learning and data understanding problems in a commercial technology and consultancy development environment. In this role, you will contribute to the development and deployment of modern machine learning, operational research, semantic analysis, and statistical methods for finding structure in large data sets.\nAs a Sr Data Scientist, you will be responsible for:\nDesigning and develop machine learning algorithms, software utilities, tools, data sets, and experiments to build AI models.\nBuilding solutions and delivering code from proof of concept to production-level maturity following agile development principles.\nBreaking down and understanding complex business problems, defining a solution, and implementing it using advanced quantitative methods.\nKeeping up to date with state-of-the-art machine learning literature and industry best practices for large-scale robust algorithm development.\nDocumenting developments and results as needed for documentation, publications, patent submissions, and internal or external presentations.\nCollaborating with cross-functional teams across multiple offices and regions. Also, Work alongside software developers and software engineers to translate algorithms into commercially viable products and services.\nUnit-Testing for production quality code development and supporting end-to-end testing of delivered software components.\nWorking in technical teams in development, deployment, and application of applied analytics, predictive analytics, and prescriptive analytics.\nFuel your passion, To be successful in this role you will:\nHave bachelors in Computer Science or STEM Majors (Science, Technology, Engineering and Math). A minimum 4 yrs of professional experience.\nHave knowledge of advanced statistical techniques and concepts (regression, properties of distributions, statistical tests, and proper usage, etc.) and experience with applications.\nExperience in Machine Learning/AI techniques including Deep learning (RNN, CNN, GAN, etc.), Support Vector Machines; Regularization Techniques; Boosting, Random Forests, Ensemble Methods, image/video/audio processing, Bayesian statistics, and time series modelling.\nHave extensive applied experience with Reinforcement Learning is desired.\nHave experience in developing and deploying machine learning solutions in cloud environments like AWS, Azure, and GCP.\nHave developed containerized solutions (Docker, Mesos, etc.).\nHave solid programming skills for data sciences and numerical computing: Python, R, and SQL and ability to work with a variety of deep learning frameworks including TensorFlow, Keras, Caffe, etc.\nHave hands-on skills in sourcing, manipulating, and analysing large volumes of data including SQL and NoSQL databases.\nRoleSoftware Developer\nIndustry TypeTravel & Tourism\nFunctional AreaIT Software - System Programming\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :B.Sc/B.Sc(Hons) in Chemistry\nPG :Any Postgraduate\nKey Skills\nComputer sciencedeep learningNoSQLGCPMachine learningAlgorithm developmentUnit testingSQLPython',
 'Job description\nAs as Senior Data Scientist, you will work in teams addressing statistical, machine learning and data understanding problems in a commercial technology and consultancy development environment. In this role, you will contribute to the development and deployment of modern machine learning, operational research, semantic analysis, and statistical methods for finding structure in large data sets.\nAs a Sr Data Scientist, you will be responsible for:\nDesigning and develop machine learning algorithms, software utilities, tools, data sets, and experiments to build AI models.\nBuilding solutions and delivering code from proof of concept to production-level maturity following agile development principles.\nBreaking down and understanding complex business problems, defining a solution, and implementing it using advanced quantitative methods.\nKeeping up to date with state-of-the-art machine learning literature and industry best practices for large-scale robust algorithm development.\nDocumenting developments and results as needed for documentation, publications, patent submissions, and internal or external presentations.\nCollaborating with cross-functional teams across multiple offices and regions. Also, Work alongside software developers and software engineers to translate algorithms into commercially viable products and services.\nUnit-Testing for production quality code development and supporting end-to-end testing of delivered software components.\nWorking in technical teams in development, deployment, and application of applied analytics, predictive analytics, and prescriptive analytics.\nFuel your passion, To be successful in this role you will:\nHave bachelors in Computer Science or STEM Majors (Science, Technology, Engineering and Math). A minimum 4 yrs of professional experience.\nHave knowledge of advanced statistical techniques and concepts (regression, properties of distributions, statistical tests, and proper usage, etc.) and experience with applications.\nExperience in Machine Learning/AI techniques including Deep learning (RNN, CNN, GAN, etc.), Support Vector Machines; Regularization Techniques; Boosting, Random Forests, Ensemble Methods, image/video/audio processing, Bayesian statistics, and time series modelling.\nHave extensive applied experience with Reinforcement Learning is desired.\nHave experience in developing and deploying machine learning solutions in cloud environments like AWS, Azure, and GCP.\nHave developed containerized solutions (Docker, Mesos, etc.).\nHave solid programming skills for data sciences and numerical computing: Python, R, and SQL and ability to work with a variety of deep learning frameworks including TensorFlow, Keras, Caffe, etc.\nHave hands-on skills in sourcing, manipulating, and analysing large volumes of data including SQL and NoSQL databases.\nRoleSoftware Developer\nIndustry TypePower\nFunctional AreaIT Software - System Programming\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :B.Sc/B.Sc(Hons) in Chemistry\nPG :Any Postgraduate\nKey Skills\nComputer sciencedeep learningNoSQLGCPMachine learningAlgorithm developmentUnit testingSQLPython',
 'Job description\nAs as Senior Data Scientist, you will work in teams addressing statistical, machine learning and data understanding problems in a commercial technology and consultancy development environment. In this role, you will contribute to the development and deployment of modern machine learning, operational research, semantic analysis, and statistical methods for finding structure in large data sets.\nAs a Sr Data Scientist, you will be responsible for:\nDesigning and develop machine learning algorithms, software utilities, tools, data sets, and experiments to build AI models.\nBuilding solutions and delivering code from proof of concept to production-level maturity following agile development principles.\nBreaking down and understanding complex business problems, defining a solution, and implementing it using advanced quantitative methods.\nKeeping up to date with state-of-the-art machine learning literature and industry best practices for large-scale robust algorithm development.\nDocumenting developments and results as needed for documentation, publications, patent submissions, and internal or external presentations.\nCollaborating with cross-functional teams across multiple offices and regions. Also, Work alongside software developers and software engineers to translate algorithms into commercially viable products and services.\nUnit-Testing for production quality code development and supporting end-to-end testing of delivered software components.\nWorking in technical teams in development, deployment, and application of applied analytics, predictive analytics, and prescriptive analytics.\nFuel your passion, To be successful in this role you will:\nHave bachelors in Computer Science or STEM Majors (Science, Technology, Engineering and Math). A minimum 4 yrs of professional experience.\nHave knowledge of advanced statistical techniques and concepts (regression, properties of distributions, statistical tests, and proper usage, etc.) and experience with applications.\nExperience in Machine Learning/AI techniques including Deep learning (RNN, CNN, GAN, etc.), Support Vector Machines; Regularization Techniques; Boosting, Random Forests, Ensemble Methods, image/video/audio processing, Bayesian statistics, and time series modelling.\nHave extensive applied experience with Reinforcement Learning is desired.\nHave experience in developing and deploying machine learning solutions in cloud environments like AWS, Azure, and GCP.\nHave developed containerized solutions (Docker, Mesos, etc.).\nHave solid programming skills for data sciences and numerical computing: Python, R, and SQL and ability to work with a variety of deep learning frameworks including TensorFlow, Keras, Caffe, etc.\nHave hands-on skills in sourcing, manipulating, and analysing large volumes of data including SQL and NoSQL databases.\nRoleSoftware Developer\nIndustry TypePower\nFunctional AreaIT Software - System Programming\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :B.Sc/B.Sc(Hons) in Chemistry\nPG :Any Postgraduate\nKey Skills\nComputer sciencedeep learningNoSQLGCPMachine learningAlgorithm developmentUnit testingSQLPython',
 'Job description\n2-10 years experience in machine learning algorithms, predictive analytics, demand forecasting in real-world projects\nStrong statistical background in descriptive and inferential statistics, regression, forecasting techniques.\nStrong programming background in Python (including packages like Tensorflow), R, D3.js , Tableau, Spark, SQL, MongoDB.\nPreferred exposure to Optimization Meta-heuristic algorithm and related applications.\nRequirements\nEducation\nBackground in a highly quantitative field like Data Science, Computer Science, Statistics, Applied Mathematics, Operations Research, Industrial Engineering, or similar fields.\nSkills and Experience\nShould have 2-10 years of experience in Data Science algorithm design and implementation, data analysis in different applied problems.\nRoleSoftware Developer\nIndustry TypeIT Services & Consulting\nFunctional AreaIT Software - Other\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate\nPG :Post Graduation Not Required\nKey Skills\nComputer scienceData analysisOperations researchdata scienceAnalyticalMachine learningMedical insuranceForecastingSQLPython',

In [19]:
job_title

['Data Scientist / Data Analyst -Business Analyst',
 '-',
 'Senior Data Scientist',
 'Sr Data Scientist',
 'Sr Data Scientist',
 'Sr Data Scientist',
 'Senior Data Scientist',
 'Lead Data Scientist',
 'Sr. Data Scientist',
 'Data Scientist']

In [20]:
#appling the dataframe
jobs=pd.DataFrame({})
jobs['title']=job_title
jobs['company']=company_names
jobs['location']=location_list
jobs['description']=job_description

In [21]:
#the data set
jobs.head(10)

,title,company,location,description
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Job description\nJob description\n\nJob Role: ...
1,-,IBM India Pvt. Limited,Bangalore/Bengaluru,-
2,Senior Data Scientist,Superior Group,Bangalore/Bengaluru,Job description\nKey Responsibilities:\nProvid...
3,Sr Data Scientist,FabHotel Aay Kay Model Town,Bangalore/Bengaluru,"Job description\nAs as Senior Data Scientist, ..."
4,Sr Data Scientist,Baker Hughes Incorporated,Bangalore/Bengaluru,"Job description\nAs as Senior Data Scientist, ..."
5,Sr Data Scientist,Baker Hughes - The Network,Bangalore/Bengaluru,"Job description\nAs as Senior Data Scientist, ..."
6,Senior Data Scientist,ORMAE (Operations Research Machine learning & ...,Bangalore/Bengaluru,Job description\n2-10 years experience in mach...
7,Lead Data Scientist,ALTEN CALSOFT LABS (INDIA) PRIVATE LIMITED,Bangalore/Bengaluru(Dairy Circle),Job description\nROLES AND RESPONSIBILITIES:\n...
8,Sr. Data Scientist,Multi Recruit,Bangalore/Bengaluru,Job description\nActively engage with internal...
9,Data Scientist,FabHotel Aay Kay Model Town,Bangalore/Bengaluru,"Job description\nAs a Data Scientist, you woul..."

# In this question you have to scrape data using the filters available on the webpage as shown below

In [3]:
#importing the libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [4]:
#importing the driver
driver =webdriver.Chrome(r"C:\Users\pavan\Downloads\chromedriver_win32\chromedriver.exe")

In [5]:
#importing the url
url = 'https://www.naukri.com/'
driver.get(url)

In [6]:
#importing the keyword
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [7]:
search_job.send_keys('Data Scientist')

In [8]:
#clicking the search button
search_btn = driver.find_element_by_xpath("//button[@cla#ss='btn']")
search_btn.click()

In [24]:
#appling the location filter
location_filter = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[2]/label/p')
location_filter.click()

In [25]:
#applying the salary filter 
salary_filter = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/p')
salary_filter.click()

In [27]:
#emporting the job tag
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags

[<selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="ef872a8e-ff01-4fad-90dd-a294ff4c6c95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="a3422450-eedf-4c61-a11d-c618db930d27")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="9f6e3d14-ec90-48b6-9f5c-11f1df172ba6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="b4bed5fa-bbed-4a5c-b611-f77ae87651b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="5ae9c6b5-82d3-4195-87ea-a49dac897e33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="bbb3cb1e-a385-4420-b88f-64b2caf53463")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="3995b537-5110-49b3-857f-3dce6fa64bc1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="862e1b26-39c0-4f91-b0d8-6c65d5ac8c71")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="4a88a371-ec89-4269-9406-da0ba8654362")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="aa3d7f64-4e23-457f-872d-145edca6b574")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="31b34efe-be7b-44ec-859a-4652d8c0a8eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="dd1721ce-f72d-4183-89af-24fab8bd7801")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="b20dc7b6-50bb-43ba-bb59-e9ef73af028f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="5cb29bfc-47b1-44b0-9090-03c3be26f63b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="7d00df33-39dc-4137-84ab-89b96305906c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="4d95ba00-45f4-471f-9617-c0313452c3e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="780c54aa-f09b-4b51-b474-977b07e604af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="313bc945-8a40-4f0c-a659-6fc9ad3d14c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="0482235a-71bd-45b2-8c2e-a816c9ea76ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="382908da-df71-47ef-b7ed-1ddafc3d821b")>]

In [28]:
#applying the forloop
job_titles=[]
for i in titles_tags:
    job_titles.append(i.text)
job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC OSC',
 'Data Scientist -Delhi',
 'Data Scientist - Text NLP | Noida',
 'Data Scientist',
 'Data Scientist - Machine Learning/NLP',
 'Data Scientist - Machine Learning/NLP',
 'Data analytics / Data scientist intern (work from Home)',
 'Chaayos is Looking For Data Scientist',
 'Data Scientist',
 'Data Engineers /Data Scientist - CES IT LTD - CMMI LVL 5',
 'We are hiring- Data Scientist +Python- Noida',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Associate Data Scientist',
 'Data Scientist Machine Learning',
 'Data Scientist']

In [29]:
#importing the company tag
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags

[<selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="50741aa8-fc98-43fc-85f3-ae776cc9b272")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="07538673-ad60-48a1-840d-1a80645b9fa8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="73a80ff1-822a-4715-b73e-a92c8babbd5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="16eccd87-e22b-4c61-b04a-fe807c467133")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="b24037f0-028d-4f97-a5ce-e93ac6912c29")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="83519890-aa66-462e-b073-9b9b085c1aa5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="c2dd6754-4619-4335-8705-0a7827dda1a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="38038ed1-2511-49b2-bf76-2e059cba2e79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="b4e22915-0331-48b1-bc6b-ab4ed2e174a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="088d089b-e54f-45e8-b902-5463d30f80e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="a4623acc-3af1-4276-b04f-65ae564db529")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="6d3c4f69-a618-4bad-9c68-6fa239a41f75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="950bf35f-9637-44a0-97ce-3955469b19e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="e1722e78-6577-43df-a707-d21dd07150f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="40a49018-08cb-4804-866c-d7de7e2841d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="db9814f3-5527-472b-8da9-d0cec511629f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="8ec5e12e-5170-477c-85dd-24d8912fd3e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="11811f2b-1f0b-41db-9292-30daa4cd769d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="7950551c-7445-4a5b-a875-1d3bfa5a5d9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="1c5505f2-a85b-4d05-aa9f-15460fe5f2c0")>]

In [30]:
#applying the forloop
company_names=[]
for i in companies_tags:
    company_names.append(i.text)
company_names

['Inflexion Analytix Private Limited',
 'GABA Consultancy services',
 'CHANGE LEADERS CONSULTING',
 'Acidaes Solutions Pvt. Ltd.',
 'NEC CORPORATION INDIA PRIVATE LIMITED',
 'TalPro',
 'TalPro',
 'TalkValley LLC',
 'Chaayos (Sunshine Teahouse Pvt. Ltd.)',
 'Fractal Analytics',
 'CES Ltd.',
 'RANDSTAD INDIA PVT LTD',
 'iNICU',
 'BlackBuck',
 'Country Veggie',
 'Mahajan Imaging',
 'Mahajan Imaging',
 'Blow Trumpet Solutions',
 'Delhivery',
 'Milliman India Pvt Ltd']

In [ ]:
#scraping the experince tag 
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
experience_tags

In [32]:
#applying the forloop
experience_list=[]
for i in experience_tags:
    experience_list.append(i.text)
experience_list

['0-3 Yrs',
 '0-0 Yrs',
 '5-8 Yrs',
 '3-5 Yrs',
 '3-8 Yrs',
 '2-6 Yrs',
 '2-4 Yrs',
 '0-5 Yrs',
 '0-5 Yrs',
 '3-7 Yrs',
 '3-5 Yrs',
 '4-7 Yrs',
 '1-5 Yrs',
 '3-7 Yrs',
 '1-3 Yrs',
 '2-6 Yrs',
 '2-6 Yrs',
 '1-5 Yrs',
 '1-3 Yrs',
 '2-5 Yrs']

In [33]:
#scraping the location tag
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
location_tags

[<selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="eec8d1ee-9143-4b2b-bfd1-e99944802c18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="03e56e6f-6896-4072-a63b-d03c62729251")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="96b7e8a2-6f26-4241-9e7a-645bafc156ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="6d2973f2-94ea-416a-a44f-fa48b83bd21a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="0b485876-3d5c-4eb9-aff8-4f22f63712b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="a91b85e8-c71d-4b9b-b139-0ea383cd936d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="e0e9bdd3-1c16-4dc4-a320-b15259a68c8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="198529c6-145f-4ed4-bb92-2ea78fd8f844")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="dfddc720-7cba-40d6-b8f1-7a045896e706")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="dbb61ac2-e160-4bb6-9d03-66b3e4866c6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="98620117-0d89-47c9-a9e5-7b45f4f250c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="b3b4fa3b-4b52-4545-9e6f-f5598d76770b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="db3123c8-d31a-4a87-a3f9-d41263b3e1d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="7a854235-93f4-4f6a-bd90-a72a9aba302d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="4572a55c-30c9-4c9e-be82-33e4794d4cd2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="88ac982a-9345-4e9d-8225-b9f94deffe76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="de32b24a-23c9-4dc7-ba40-4238918cd916")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="7fa60286-7a04-4816-bd08-6255f3e97617")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="2b12e357-637c-430e-bd9b-84cfc17be29a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ebf737c814cc1f4a3b588e0ab31894e2", element="fc580db9-ead8-4fd9-9051-ef1b955b39e6")>]

In [34]:
#applying the forloop
location_list=[]
for i in location_tags:
    location_list.append(i.text)
location_list

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'New Delhi',
 'Noida',
 'Noida',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'New Delhi',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Delhi',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, New Delhi, Lucknow, Agra, Gurgaon/Gurugram, Rajkot, Bangalore/Bengaluru',
 'New Delhi',
 'Delhi',
 'New Delhi',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Delhi / NCR']

In [35]:
#appling the dataframe
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['experience_required']=experience_list
jobs['location']=location_list

In [36]:
#the data set
jobs.head(10)

,title,company,experience_required,location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,0-0 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR"
2,Data Scientist -Delhi,CHANGE LEADERS CONSULTING,5-8 Yrs,New Delhi
3,Data Scientist - Text NLP | Noida,Acidaes Solutions Pvt. Ltd.,3-5 Yrs,Noida
4,Data Scientist,NEC CORPORATION INDIA PRIVATE LIMITED,3-8 Yrs,Noida
5,Data Scientist - Machine Learning/NLP,TalPro,2-6 Yrs,Gurgaon/Gurugram
6,Data Scientist - Machine Learning/NLP,TalPro,2-4 Yrs,Gurgaon/Gurugram
7,Data analytics / Data scientist intern (work f...,TalkValley LLC,0-5 Yrs,"Kolkata, Bangalore/Bengaluru, Delhi / NCR"
8,Chaayos is Looking For Data Scientist,Chaayos (Sunshine Teahouse Pvt. Ltd.),0-5 Yrs,New Delhi
9,Data Scientist,Fractal Analytics,3-7 Yrs,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru"

# Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [1]:
#importing the libraries
import selenium
import pandas as pd
from selenium import webdriver

In [7]:
#importing the driver
driver =webdriver.Chrome(r"C:\Users\pavan\Downloads\chromedriver_win32\chromedriver.exe")

In [8]:
#importing the url
url = 'https://www.glassdoor.co.in/index.htm'
driver.get(url)

In [9]:
#importing the keyword
search_job = driver.find_element_by_id('sc.keyword')
search_job

In [10]:
search_job.send_keys('Data Scientist')

In [11]:
#importing the location
search_loc = driver.find_element_by_id('sc.location')
search_loc.send_keys('Noida')

In [12]:
#clicking the search button
search_btn = driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search_btn.click()

In [ ]:
#scraping the company tag 
companies_tags=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']//span")
companies_tags

In [15]:
#applying the forloop
Company_names=[]
for i in companies_tags:
    Company_names.append(i.text)
company_names = Company_names[0::3]

In [30]:
COMPANY =company_names[:10]
COMPANY

['Ericsson',
 'Innovacer',
 'Crowe',
 'Data Patterns',
 'Algo8 AI Pvt. Ltd.',
 'Biz2Credit Inc',
 'Ginger Webs Pvt. Ltd.',
 'Flip Robo Technologies',
 'Salasar New Age Technologies',
 'Techlive']

In [20]:
#scraping the rating tag
ratings=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
ratings

[<selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="61f18aff-120f-4687-be9a-ed98697816ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="8cf21dd5-f985-48e2-8aed-fde0f541c598")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="908ec537-164b-4a1e-b77c-7ba09b4da069")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="46f6a364-48d4-466a-824e-4c3200722385")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="5fac451e-a744-4d80-83a0-d534cefa6ed6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="b179514d-b741-4b50-85b8-2b2950506dd9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="3e051f13-f715-4cb0-b5e5-b6a0912c4db5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="e15a99ed-dde0-49a8-b658-0e9c5b388020")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="660907d0-112e-495f-85f0-731fbf5041c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="f2503fc0-f700-432f-9d9f-4845eed314b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="621649c5-37fa-47c8-8c02-522854ff529f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="f1464f8a-daa2-4114-8c4f-8692710b3be6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="6f36a6c7-0163-412d-8369-81833bf6bebc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="dbf81864-35a7-4777-a7a1-e84e629774fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="8d4ce87f-269f-4863-95a9-e0f5dd56c09e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="ced0b716-3c76-4a9e-b518-46f6ff2777bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="45e39231-4fba-4d52-91bf-7c284882fa65")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="1609bf92-def7-4219-8e8c-a9e09f6eda3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="03fb5c66-95e7-4a3a-84ba-175329bf2100")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="4d1e7d46-efff-4192-adf6-bcb4352e9e1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="c5f08ec2-4a64-4bad-b7ab-d2dbae795bd1")>]

In [28]:
#applying the forloop
rating=[]
for i in ratings:
    rating.append(i.text)
RATING =rating[:10]
RATING

['4.1', '3.8', '3.8', '3.0', '3.9', '4.3', '5.0', '3.1', '3.8', '3.8']

In [22]:
no_days=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
no_days

[<selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="48fb37f0-f2bb-462c-bf34-71ca81d2aecf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="051faae9-df8f-43db-a296-3eefe309a4c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="4572698a-eb88-4fa7-bd0b-90eb7a259197")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="417e8c1b-fef9-4a8f-a365-d78421021ea5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="2277eb15-e159-4539-9622-687c84ed0691")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="ed6aaf1b-d987-4592-84b7-6df10eca89fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="ffdf1a8d-1160-4a20-b781-fb5f0084d892")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="081b0728-b3dc-4e39-adb3-b5fb4b497cf4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="897d7414-92f9-45d6-85ac-0885ad737b46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="4f22ebf3-13ae-478e-aa21-55e522b83b8e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="07d4b594-446e-4cc5-9e21-a63001c28472")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="e4ee02b0-b6ce-47f0-bc83-6bc446450107")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="b464530a-0a73-4630-91cd-b52bb701cb14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="fc37c2d5-4e18-4abb-bc44-cdcc1a86def7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="8bb683ea-6e4a-4e2f-9342-41880e15fd7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="cf1e72df-d5f1-41bb-94af-dcc863957109")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="c0979bc1-c981-44ad-aff1-73d754790009")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="53b0b2f6-fb22-4b24-9879-22d1c266bca0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="c7b16f5a-345f-41cb-aa0e-aec6d00c5365")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="c175e590-2e03-4177-bb3a-f927e23e3fde")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="419c7913-45cf-4438-b085-6763d34ad541")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="3eafe74e-c093-4555-8325-7e535f56e0f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="312476a5-7f6c-47c7-a218-b6a937ea714c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="c55ef1f0-36c7-42cd-bd59-c2e0263229c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="d413ad0f-e395-454b-b020-3920670346d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="9eb7d4d0-2700-4ff8-95a5-2cc3f2746f22")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="44bf3635-60cc-41e8-a268-62918e43c3a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="a6d91cdc-8479-418a-ba21-f2f8501b874e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="cbe7e4c7-b2ea-46cf-a086-2bd21df7d7f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17f32be0475e1e6bbb12d10de727ecca", element="3fbbf471-4fe0-42ce-8a75-e5f826274c07")>]

In [29]:
#applying the forloop
No_of_days=[]
for i in no_days:
    No_of_days.append(i.text)
DAYS =No_of_days[:10]
DAYS

['6d', '1d', '27d', '15d', '11d', '30d+', '19d', '10d', '30d+', '30d+']

In [31]:
#appling the dataframe
jobs=pd.DataFrame({})
jobs['company']=COMPANY
jobs['days']= DAYS
jobs['rating']=RATING

In [32]:
#the data set
jobs

                        company  days rating
0                      Ericsson    6d    4.1
1                     Innovacer    1d    3.8
2                         Crowe   27d    3.8
3                 Data Patterns   15d    3.0
4            Algo8 AI Pvt. Ltd.   11d    3.9
5                Biz2Credit Inc  30d+    4.3
6         Ginger Webs Pvt. Ltd.   19d    5.0
7        Flip Robo Technologies   10d    3.1
8  Salasar New Age Technologies  30d+    3.8
9                      Techlive  30d+    3.8

# Write a python program to scrape the salary data for Data Scientist designation in Noida location

In [71]:
#importing the libraries
import selenium
import pandas as pd
from selenium import webdriver

In [72]:
#importing the driver
driver =webdriver.Chrome(r"C:\Users\pavan\Downloads\chromedriver_win32\chromedriver.exe")

In [73]:
#importing the url
url = 'https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

In [74]:
#importing the keyword
search_job = driver.find_element_by_id('KeywordSearch')
search_job

In [75]:
search_job.send_keys('Data Scientist')

In [78]:
#impoting the location tag
search_loc = driver.find_element_by_id('LocationSearch')
search_loc.send_keys('Noida')

In [79]:
#clicking the search button
search_btn = driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_btn.click()

In [104]:
Company=company[0:20]

In [94]:
#applying the forloop
avg_salary=[]
rating=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")
for i in rating:
    avg_salary.append(i.text)

In [95]:
avg_salary

['₹6,81,824\n /yr',
 '₹7,92,804\n /yr',
 '₹20,00,000\n /yr',
 '₹x,xx,xxx\n /yr',
 '₹xx,xx,xxx\n /yr',
 '₹xx,xx,xxx\n /yr',
 '₹xx,xxx\n /mo',
 '₹xx,xx,xxx\n /yr',
 '₹xx,xx,xxx\n /yr',
 '₹xx,xx,xxx\n /yr',
 '₹xx,xx,xxx\n /yr',
 '₹x,xx,xxx\n /yr',
 '₹xx,xxx\n /mo',
 '₹x,xx,xxx\n /yr',
 '₹x,xx,xxx\n /yr',
 '₹x,xx,xxx\n /yr',
 '₹xx,xx,xxx\n /yr',
 '₹x,xx,xxx\n /yr',
 '₹xx,xx,xxx\n /yr',
 '₹xx,xx,xxx\n /yr']

In [102]:
#applying the forloop
salary_range=[]
rating=driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']")
for i in rating:
    salary_range.append(i.text)
salary_range

['₹86T\n₹14L',
 '₹5L\n₹72L',
 '₹10L\n₹21L',
 '₹xL\n₹xxL',
 '₹xL\n₹xxL',
 '₹xL\n₹xxL',
 '₹xxT\n₹xL',
 '₹xxL\n₹xxL',
 '₹xxL\n₹xxL',
 '₹xxL\n₹xxL',
 '₹xxL\n₹xxL',
 '₹xL\n₹xxL',
 '₹xxT\n₹xL',
 '₹xL\n₹xxL',
 '₹xL\n₹xxL',
 '₹xL\n₹xxL',
 '₹xL\n₹xxL',
 '₹xL\n₹xxL',
 '₹xL\n₹xxL',
 '₹xL\n₹xxL']

In [105]:
#appling the dataframe
salary_data=pd.DataFrame({})
salary_data['company']=Company
salary_data['avg_salary']=avg_salary
salary_data['range']=salary_range

In [106]:
#the data set
salary_data.head()

                     company        avg_salary       range
0                        IBM   ₹6,81,824\n /yr  ₹86T\n₹14L
1  Tata Consultancy Services   ₹7,92,804\n /yr   ₹5L\n₹72L
2                  Accenture  ₹20,00,000\n /yr  ₹10L\n₹21L
3                  Delhivery   ₹x,xx,xxx\n /yr   ₹xL\n₹xxL
4         Ericsson-Worldwide  ₹xx,xx,xxx\n /yr   ₹xL\n₹xxL

# Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [1]:
#importing the libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import ElementNotInteractableException, NoSuchElementException

In [2]:
#importing the url
driver =webdriver.Chrome(r"C:\Users\pavan\Downloads\chromedriver_win32\chromedriver.exe")
url = 'https://www.flipkart.com/search?q=sunglasses&sid=26x&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sunglasses%7CSunglasses&requestId=b3f10c38-d189-4264-9e64-d1979dfc9cdd&as-backfill=on'
driver.get(url)

In [3]:
#applying the forloop
brand_name=[]
for i in range(0,4):
    brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand:
        brand_name.append(i.text)
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
    next_button.click()
    time.sleep(2)

In [4]:
brand_names=brand_name[:100]

In [5]:
#applying the forloop
product_description=[]
for i in range(0,4):
    description=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in description:
        product_description.append(i.text)
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
    next_button.click()
    time.sleep(2)

In [6]:
Product_description=product_description[:100]

In [ ]:
#applying the forloop
price=[]
for i in range(0,4):
    price_tag=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in price_tag:
        price.append(i.text)
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
    next_button.click()
    time.sleep(2)

In [8]:
Price=price[:100]

In [9]:
#applying the forloop
discount=[]
for i in range(0,4):
    discount_tag=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    for i in discount_tag:
        discount.append(i.text)
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
    next_button.click()
    time.sleep(2)

In [10]:
Discount=discount[:100]

In [11]:
#appling the dataframe
sunglasses=pd.DataFrame({})
sunglasses['brand']=brand_names
sunglasses['product_description']=Product_description
sunglasses['price']=Price
sunglasses['discount']=Discount

In [12]:
#the data set
sunglasses.head(100)

,brand,product_description,price,discount
0,Wrogn,Mirrored Wayfarer Sunglasses (51),₹663,79% off
1,Fravy,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹284,34% off
2,kingsunglasses,UV Protection Wayfarer Sunglasses (Free Size),₹299,81% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹758,84% off
4,Fastrack,UV Protection Aviator Sunglasses (54),₹513,85% off
...,...,...,...,...
95,ROYAL SON,UV Protection Rectangular Sunglasses (55),₹854,83% off
96,Fastrack,"UV Protection, Gradient Butterfly Sunglasses (60)",₹612,80% off
97,kingsunglasses,UV Protection Wayfarer Sunglasses (Free Size),₹225,79% off
98,kingsunglasses,UV Protection Rectangular Sunglasses (Free Size),₹349,78% off
99,ROYAL SON,UV Protection Aviator Sunglasses (58),₹349,82% off

# Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link

In [47]:
#importing the libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import ElementNotInteractableException, NoSuchElementException

In [48]:
#importing the driver
driver =webdriver.Chrome(r"C:\Users\pavan\Downloads\chromedriver_win32\chromedriver.exe")

In [50]:
#importing the url
url = 'https://www.flipkart.com/search?q=sneakers&sid=osp%2Ccil%2Ce1f&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_5_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_5_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sneakers%7CMen%27s+Casual+Shoes&requestId=2258a67d-f219-4199-994e-3b087b19d2ef&as-backfill=on'
driver.get(url)

In [51]:
#applying the forloop
brand_name=[]
for i in range(0,4):
    brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand:
        brand_name.append(i.text)
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
    next_button.click()
    time.sleep(2)

In [52]:
brand_names=brand_name[:100]

In [53]:
#applying the forloop
product_description=[]
for i in range(0,4):
    description=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in description:
        product_description.append(i.text)
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
    next_button.click()
    time.sleep(2)

In [54]:
Product_description=product_description[:100]

In [55]:
#applying the forloop
price=[]
for i in range(0,4):
    price_tag=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in price_tag:
        price.append(i.text)
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
    next_button.click()
    time.sleep(2)

In [56]:
Price=price[:100]

In [57]:
#applying the forloop
discount=[]
for i in range(0,4):
    discount_tag=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    for i in discount_tag:
        discount.append(i.text)
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
    next_button.click()
    time.sleep(2)

In [58]:
Discount=discount[:100]

In [60]:
#appling the dataframe
sneakers=pd.DataFrame({})
sneakers['brand']=brand_names
sneakers['product_description']=Product_description
sneakers['price']=Price
sneakers['discount']=Discount

In [62]:
#the data set
sneakers

,brand,product_description,price,discount
0,BRUTON,Raptor Sneakers For Men,₹423,40% off
1,tigonis,Casual Sneakers Shoes For Men Sneakers For Men,₹429,79% off
2,Robbie jones,Original Luxury Branded Fashionable Men's Casu...,₹379,62% off
3,ASTEROID,Sneakers For Men,₹499,75% off
4,Numenzo,Combo Pack of 4 Casual Shoes Sneakers For Men,₹398,60% off
...,...,...,...,...
95,bluemaker,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹499,66% off
96,Chevit,Casual Sneakers White Shoes For Men Sneakers F...,₹389,22% off
97,Chevit,"Casual , Partywear Sneakers Shoes For Men's An...",₹759,69% off
98,believe,casual for men (blue 09) Sneakers For Men,₹449,55% off
99,India hub,Synthetic Leather Casual Partywear Wedding Sne...,₹449,40% off

# Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [125]:
#importing the libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import ElementNotInteractableException, NoSuchElementException

In [126]:
#importing the driver
driver =webdriver.Chrome(r"C:\Users\pavan\Downloads\chromedriver_win32\chromedriver.exe")

In [127]:
#importing the url
url='https://www.myntra.com/shoes'
driver.get(url)

In [128]:
#applying the price filter
price_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_filter.click()

In [129]:
#applying the colour filter
colour_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
colour_filter.click()

In [130]:
#applying the forloop
brand_name=[]
for i in range(0,4):
    brand=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for i in brand:
        brand_name.append(i.text)
    next_button=driver.find_element_by_xpath("//li[@class='pagination-next']")
    next_button.click()
    time.sleep(2)

In [131]:
brand_names=brand_name[:100]

In [132]:
#applying the forloop
product_description=[]
for i in range(0,4):
    description=driver.find_elements_by_xpath("//h4[@class='product-product']")
    for i in description:
        product_description.append(i.text)
    next_button=driver.find_element_by_xpath("//li[@class='pagination-next']")
    next_button.click()
    time.sleep(2)

In [133]:
Product_description=product_description[:100]

In [134]:
#applying the forloop
price=[]
for i in range(0,2):
    price_tag=driver.find_elements_by_xpath("//div[@class='product-price']")
    for i in price_tag:
        price.append(i.text)
    next_button=driver.find_element_by_xpath("//li[@class='pagination-next']")
    next_button.click()
    time.sleep(2)

In [135]:
Price=price[:100]

In [136]:
#appling the dataframe
shoes=pd.DataFrame({})
shoes['brand']=brand_names
shoes['product_description']=Product_description
shoes['price']=Price

In [137]:
#the data set
shoes

,brand,product_description,price
0,Nike,Men Solid Leather Formal Brogues,Rs. 9995
1,Nike,,Rs. 11800
2,ALDO,Men Patent Leather Sneakers,Rs. 12990
3,Nike,Women Arizona Flats,Rs. 10990
4,Nike,Women Textured Sneakers,Rs. 7999
...,...,...,...
95,Kenneth Cole,Leather Wedge Mules,Rs. 10990
96,J.FONTINI,Leather Wedge Sandals,Rs. 9990
97,Heel & Buckle London,Women Lola Wedges,Rs. 6990
98,J.FONTINI,Leather Lana Heels,Rs. 6990
99,Bugatti,Women Animal Print Sneakers,Rs. 6993Rs. 9990(30% OFF)

# Go to the link - https://www.myntra.com/shoesSet Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below imag

In [1]:
#importing the libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import ElementNotInteractableException, NoSuchElementException

In [2]:
#importing the driver
driver =webdriver.Chrome(r"C:\Users\pavan\Downloads\chromedriver_win32\chromedriver.exe")

In [4]:
#importing the url
url='https://www.amazon.in/s?k=laptops&ref=nb_sb_noss_2'
driver.get(url)

In [5]:
#applying the generation filter
generation_filter = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[1]/li[26]/span/a/span')
generation_filter.click()

In [6]:
#applying the generation filter
generation_filter = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[1]/li[28]/span/a/span')
generation_filter.click()

In [7]:
#scraping the job tag
title_tags=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="05df4d16-c1df-4521-8a32-d88b9934396f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="fd3eaf5b-8ac9-4ab6-93e9-4978fbd8ad10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="2f789c5b-3855-436b-9b0d-789cefc9c555")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="102cb724-78a0-43f6-b22d-97e9b22fca62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="d29709af-e10a-4255-9c2f-976d725c8de6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="726d86fc-030e-447a-9207-99d0fd9edc6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="ea713b4e-d554-4fd6-815a-4f517afc5720")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="78666ff9-3a04-4a22-afa1-b19773324369")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="cb58eb89-7b94-4799-8a97-4698cb0f7d17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="124c5dad-7f6f-4410-b9ce-d3102f40160a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="a248e82d-c7e2-421c-ad3b-63b489db2b1c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="e1aea026-0b89-4d90-86c9-d14091eafd13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="31effaec-5e4c-4760-a6fd-fde654e252a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="0e1b4677-b3ac-432b-9bcf-a2a4fa3e28ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="5d1aed7e-ed86-44e7-a0ad-c232945f9838")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="c47c9924-4f69-480e-bc60-ab4998bf6d2b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="d433fb1d-ab23-44ed-b3da-ec1f3c327e5a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="4cd5685e-57c1-4a52-a0da-05d6ace58658")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="b20a8c6c-8617-4d5c-ba63-717894996ce3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="4ca41902-6e52-43eb-bb07-816f7d134ab2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="44bf6a17-39a3-4b83-af9b-2caacb73c906")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="b59cea38-e6f2-4720-a71e-aee71409ae9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="bec559b9-b536-428c-9c0d-c01f9bd6934b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="a3a6e87e-0233-49af-b557-0ce60fc56215")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="ea7b0a30-29b4-44d3-964b-6aeff728cc11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="2ad292e2-b91d-47a2-a6b1-b4d0e0ab33a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="41d71638-2d80-4a70-8c27-f974a3e2c87b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="448c83d3-a06a-497e-b384-0b44705346cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="18fd6197-f962-4649-9588-28f04d43ed2a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="b57d79bc-9668-426e-9d5c-b59d2e81bd24")>]

In [13]:
#applying the forloop
title_names=[]
for i in title_tags:
    title_names.append(i.text)
title_name=title_names[:10]

In [26]:
# scraping the price tag
price_tags=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
price_tags

[<selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="363c7848-6b05-4fa2-b3a2-f427c45cebf7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="f689e5e0-7682-4248-aaa5-8ceb44b8d996")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="0a3e12bc-6985-47c7-a781-9ae53b55708a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="7a5f9ef4-7e6e-4b0a-95e2-9269803524bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="c2073822-d042-4b7f-9da1-359c682149d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="1efbdb4f-ea4c-4e85-b68f-d9c98bc59ebb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="888d5531-06c2-4618-a4ec-ea037fdf5e48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="378a09ce-67e4-4d00-8eec-505903691a31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="af1d56f5-1c7f-47cd-86b7-9343b1fb4c2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="c9a82738-2ece-4817-b7c9-093db527d596")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="8c5ae849-7582-4652-b21e-528bc2d558a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="ddf0b914-f7e3-4587-8088-818192742f5b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="87a9417a-9998-4b50-9a56-20610add906c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="b20c6c65-6097-466f-a2e1-1d5c5ac5d33d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="67ce0e39-d454-4f41-8528-fd6e3b0da6f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="a2b1e9b1-4b1c-4ed2-ac79-b04dd2d63e25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="871c1797-76aa-4397-b80e-54f6300c3404")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="34a29b0b-af81-45c0-afbc-80fd642c89fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="81e183d7-7cc4-4fe0-94a0-abbf478e2748")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="15b032f8-2032-4376-80bc-393d93e15772")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="824e2122-6f13-4175-ab21-bd460cbea195")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="db565a40-1783-492b-8bbd-4e496bb00891")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="6e643974-4dcf-4f13-b558-d5cd8a772b4d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="e8bb192b-ed99-4081-bd78-bf9414963f77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="1dbd1461-86e6-48e7-9079-eef637ddfb6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="a36206f9-784a-480b-b990-92b3c3ec5705")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="e6fcec5a-e4ec-4ff5-80ce-eb6fc3837278")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="98fa02c8-d27a-4640-8f6e-e45f4cc506f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbf9249c67055a67f026e5eaae4945a4", element="a2108e90-cc10-4746-8697-10f518f4f363")>]

In [27]:
#applying the forloop
price=[]
for i in price_tags:
    price.append(i.text)
Price=price[:10]

In [28]:
#importing the url
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='a-link-normal s-no-outline']"):
    urls.append(i.get_attribute("href"))

In [29]:
urls

['https://www.amazon.in/b/ref=sxts_spks_0_0_844d1565-95c4-4594-95a6-c04886921656?node=1375424031&pd_rd_w=OAQ4l&pf_rd_p=844d1565-95c4-4594-95a6-c04886921656&pf_rd_r=FDS4AE4757WKK5ZWAY0G&pd_rd_r=e67126d4-c193-46b9-8e6f-70f6a29196cb&pd_rd_wg=EETki&qid=1625884346',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A05808253755H7YWZ0AS3&url=%2FLenovo-Legion-Windows-Graphics-81YU002AIN%2Fdp%2FB08FJCRGPR%2Fref%3Dsr_1_1_sspa%3Fdchild%3D1%26keywords%3Dlaptops%26qid%3D1625884346%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-1-spons%26psc%3D1&qualifier=1625884346&id=7652622080878574&widgetName=sp_atf',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A02562643LJBEQ9GMLC96&url=%2FNotebook-Horizon-i7-10510U-Graphics-XMA1904-AF%2Fdp%2FB089F2W1KW%2Fref%3Dsr_1_2_sspa%3Fdchild%3D1%26keywords%3Dlaptops%26qid%3D1625884346%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-2-spons%26psc%3D1&qualifier=1625884346&id=7652622080878574&widgetName=sp_atf',
 'https://www.amazon.in/HP-Pavilion-Touchscreen-Convertible-14-dw1040TU/dp/B08R843NHL/ref=sr_1_3?dchild=1&keywords=laptops&qid=1625884346&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-3',
 'https://www.amazon.in/HP-Pavilion-Graphics-35-56cms-14-dv0058TU/dp/B08WB857GB/ref=sr_1_4?dchild=1&keywords=laptops&qid=1625884346&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-4',
 'https://www.amazon.in/Inspiron-5593-15-6-inch-i7-1065G7-Graphics/dp/B07ZG4S91Z/ref=sr_1_5?dchild=1&keywords=laptops&qid=1625884346&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-5',
 'https://www.amazon.in/Notebook-Horizon-i7-10510U-Graphics-XMA1904-AF/dp/B089F2W1KW/ref=sr_1_6?dchild=1&keywords=laptops&qid=1625884346&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-6',
 'https://www.amazon.in/HP-Pavilion-Processor-15-6-inch-15-dk1509TX/dp/B08ZN7GBQ5/ref=sr_1_7?dchild=1&keywords=laptops&qid=1625884346&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-7',
 'https://www.amazon.in/Lenovo-IdeaPad-15-6-inch-Windows-81Y400VAIN/dp/B08PV48PYW/ref=sr_1_8?dchild=1&keywords=laptops&qid=1625884346&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-8',
 'https://www.amazon.in/Dell-7567-15-6-inch-i7-7700HQ-Microsoft/dp/B0749KG8XG/ref=sr_1_9?dchild=1&keywords=laptops&qid=1625884346&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-9',
 'https://www.amazon.in/ASUS-VivoBook-i7-1165G7-Graphics-S433EA-AM702TS/dp/B08SN9GJXH/ref=sr_1_10?dchild=1&keywords=laptops&qid=1625884346&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-10',
 'https://www.amazon.in/Dell-i7-1165G7-Inspiron-5410-D560469WIN9S/dp/B095S9NJ4S/ref=sr_1_11?dchild=1&keywords=laptops&qid=1625884346&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-11',
 'https://www.amazon.in/GF63-Thin-10SCSR-019IN-i7-10750H-9S7-16R412-019/dp/B0897SXQNN/ref=sr_1_12?dchild=1&keywords=laptops&qid=1625884346&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-12',
 'https://www.amazon.in/Lenovo-Legion-Gaming-GeForce-81SY00U7IN/dp/B092MRQCJ6/ref=sr_1_13?dchild=1&keywords=laptops&qid=1625884346&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-13',
 'https://www.amazon.in/Dell-1366x768-Integrated-Graphics-Latitude/dp/B09752NVNF/ref=sr_1_14?dchild=1&keywords=laptops&qid=1625884346&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-14',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_mtf_computers_sr_pg1_1?ie=UTF8&adId=A05810051XY0FATC051KI&url=%2FDell-Alienware-m15-R3-15-6-inch%2Fdp%2FB08BZR715W%2Fref%3Dsr_1_15_sspa%3Fdchild%3D1%26keywords%3Dlaptops%26qid%3D1625884346%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-15-spons%26psc%3D1&qualifier=1625884346&id=7652622080878574&widgetName=sp_mtf',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_mtf_computers_sr_pg1_1?ie=UTF8&adId=A0574697AGZ73PUBQN0I&url=%2FHP-Pavilion-Processor-15-6-inch-15-dk1509TX%2Fdp%2FB08ZN7GBQ5%2Fref%3Dsr_1_16_sspa%3Fdchild%3D1%26keywords%3Dlaptops%26qid%3D1625884346%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-16-spons%26psc%3D1&qualifier=1625884346&id=7652622080878574&widgetName=sp_mtf',
 'https://www.amazon.in/Renewed-HP-15-6-Inch-Graphics-Zbook/dp/B09128J5VT/ref=sr_1_17?dchild=1&keywords=laptops&qid=1625884346&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-17',
 'https://www.amazon.in/Dell-TOUCHSCREEN-Integrated-Graphics-Latitude/dp/B097YXR7SZ/ref=sr_1_18?dchild=1&keywords=laptops&qid=1625884346&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-18',
 'https://www.amazon.in/Dell-1366x768-Integrated-Graphics-Latitude/dp/B0974W4W9W/ref=sr_1_19?dchild=1&keywords=laptops&qid=1625884346&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-19',
 'https://www.amazon.in/Dell-TOUCHSCREEN-Integrated-Graphics-Latitude/dp/B097YZ1WWC/ref=sr_1_20?dchild=1&keywords=laptops&qid=1625884346&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-20',
 'https://www.amazon.in/Dell-1366x768-Integrated-Graphics-Latitude/dp/B0974WWK87/ref=sr_1_21?dchild=1&keywords=laptops&qid=1625884346&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-21',
 'https://www.amazon.in/Dell-Inspiron-i7-1165G7-Integrated-D560414WIN9S/dp/B0919LL313/ref=sr_1_22?dchild=1&keywords=laptops&qid=1625884346&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-22',
 'https://www.amazon.in/Dell-TOUCHSCREEN-Integrated-Graphics-Latitude/dp/B097YY81J6/ref=sr_1_23?dchild=1&keywords=laptops&qid=1625884346&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-23',
 'https://www.amazon.in/Nexstgo-NP15N1IN008P-15-6-inch-i7-8550U-Integrated/dp/B07KGP3HP3/ref=sr_1_24?dchild=1&keywords=laptops&qid=1625884346&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-24',
 'https://www.amazon.in/Dell-35-56cms-1366x768-Integrated-Graphics/dp/B097PL7VX8/ref=sr_1_25?dchild=1&keywords=laptops&qid=1625884346&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-25',
 'https://www.amazon.in/Lenovo-Touchscreen-Fingerprint-Aluminium-82BH004HIN/dp/B08P3M22QQ/ref=sr_1_26?dchild=1&keywords=laptops&qid=1625884346&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-26',
 'https://www.amazon.in/Lenovo-Touchscreen-Fingerprint-Graphite-82HS0092IN/dp/B08WRZQBQ6/ref=sr_1_27?dchild=1&keywords=laptops&qid=1625884346&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-27',
 'https://www.amazon.in/Dell-1366x768-Integrated-Graphics-Latitude/dp/B0974XBX64/ref=sr_1_28?dchild=1&keywords=laptops&qid=1625884346&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-28',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_btf_computers_sr_pg1_1?ie=UTF8&adId=A05809812DV8P4414935R&url=%2FDell-15-6inch-i7-10750H-Warranty-D560250WIN9BE%2Fdp%2FB08HYPRST4%2Fref%3Dsr_1_29_sspa%3Fdchild%3D1%26keywords%3Dlaptops%26qid%3D1625884346%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-29-spons%26psc%3D1&qualifier=1625884346&id=7652622080878574&widgetName=sp_btf',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_btf_computers_sr_pg1_1?ie=UTF8&adId=A05814731HU5OO0SAJXI0&url=%2FASUS-i7-10870H-Graphics-Original-G512LV-HN222T%2Fdp%2FB08QJTD4W8%2Fref%3Dsr_1_30_sspa%3Fdchild%3D1%26keywords%3Dlaptops%26qid%3D1625884346%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-30-spons%26psc%3D1&qualifier=1625884346&id=7652622080878574&widgetName=sp_btf']

In [35]:
#applying the forloop
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
    try:
        rating= driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        RATING.append(rating.text)
    except NoSuchElementException:
        RATING.append('-')

In [40]:
Rating=RATING[23:]
Rating

['-',
 '2.8 out of 5',
 '4.4 out of 5',
 '3.9 out of 5',
 '4.5 out of 5',
 '3.7 out of 5',
 '4.4 out of 5',
 '4.2 out of 5',
 '4.4 out of 5',
 '2.7 out of 5']

In [42]:
#appling the dataframe
laptops=pd.DataFrame({})
laptops['title']=title_name
laptops['rating']=Rating
laptops['price']=Price

In [43]:
#the data set
laptops

                                               title        rating     price
0  Lenovo Legion 7 10th Gen Intel Core i7 15.6 in...             -  2,00,000
1  Mi Notebook Horizon Edition 14 Intel Core i7-1...  2.8 out of 5    59,999
2  HP Pavilion x360 (2021) 14" (35.56cms) FHD Tou...  4.4 out of 5    76,990
3  HP Pavilion (2021) Thin & Light 11th Gen Core ...  3.9 out of 5    84,990
4  DELL Inspiron 5593 15.6" (39.62cms) Laptop (10...  4.5 out of 5    82,990
5  Mi Notebook Horizon Edition 14 Intel Core i7-1...  3.7 out of 5    59,999
6  HP Pavilion Gaming 10th Gen Intel Core i7 Proc...  4.4 out of 5    86,990
7  Lenovo IdeaPad Gaming 3 10th Gen Intel Core i7...  4.2 out of 5    84,300
8  Dell Inspiron 15 Gaming 7567 15.6-inch Laptop ...  4.4 out of 5    79,990
9  ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...  2.7 out of 5    76,990

# Go to webpage https://www.amazon.in/Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image

In [44]:
#importing the libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import ElementNotInteractableException, NoSuchElementException

In [45]:
#importing the driver
driver =webdriver.Chrome(r"C:\Users\pavan\Downloads\chromedriver_win32\chromedriver.exe")

In [47]:
#importing the url
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART'
driver.get(url)

In [63]:
#applying the forloop
RATING=[]
for i in range(0,10):
    rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in rating:
        RATING.append(i.text)
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(2)

In [66]:
#applying the forloop
Review_summary=[]
for i in range(0,10):
    review=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in review:
        Review_summary.append(i.text)
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(2)

In [68]:
#applying the forloop
full_review=[]
for i in range(0,10):
    review=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in review:
        full_review.append(i.text)
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(2)

In [69]:
#appling the dataframe
iphone11_review=pd.DataFrame({})
iphone11_review['rating']=RATING
iphone11_review['review_summary']=Review_summary
iphone11_review['full_review']=full_review

In [70]:
#the data set
iphone11_review

,rating,review_summary,full_review
0,5,Perfect product!,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Worth every penny,Amazing phone with great cameras and better ba...
2,5,Perfect product!,Previously I was using one plus 3t it was a gr...
3,5,Highly recommended,This is my first iOS phone. I am very happy wi...
4,5,Worth every penny,Really satisfied with the Product I received.....
...,...,...,...
95,5,Simply awesome,Amazing Powerful and Durable Gadget.\n\nI’m am...
96,4,Terrific,So far it’s been an AMAZING experience coming ...
97,5,Highly recommended,"i11 is worthy to buy, too much happy with the ..."
98,5,Nice product,iphone 11 is a very good phone to buy only if ...
99,5,Wonderful,It’s a must buy who is looking for an upgrade ...